// 主题: 暗黑
/*
  bg: background;
  fc: font字体颜色;
  $jt: 箭头颜色
  bor: 边框颜色
*/
$dark: (
  --qui-BG-1: #17191a,
  --qui-BG-2: #2e2f30,
  --qui-BG-ED: #3f4243,
  --qui-BG-HIGH-LIGHT: #1878f3,
  --qui-BG-BTN: #1878f3,
  --qui-BG-BTN-GRAY: #1878f3,
  --qui-BG-BTN-GRAY-1: #2b2c2d,
  --qui-BG-IT: #f6f6f6,
  --qui-BG-00: #000,
  --qui-BG-FFF: #000,
  --qui-BG-F7: #404040,
  --qui-BG-40: #404040,
  --qui-BG-A3CAFF: #a3caff,
  --qui-BG-D1E0FF: #65f769,
  --qui-BG-F9F: #404040,
  --qui-BG-777: #777,
  --qui-BG-FF: #ff2e2e,
  --qui-FC-333: #ddd,
  --qui-FC-777: #ddd,
  --qui-FC-AAA: #777,
  --qui-FC-CCC: #ccc,
  --qui-FC-DDD: rgba(255, 255, 255, 0.3),
  --qui-FC-B5: #b5b5b5,
  --qui-FC-B2: #b2b2b2,
  --qui-FC-FFF: #fff,
  --qui-FC-GRAY: #4f4f50,
  --qui-FC-C6: #c6c6c6,
  --qui-FC-7D7979: #7d7979,
  --qui-FC-34: #343434,
  --qui-FC-f7: #f7f7f7,
  --qui-FC-000: #ddd,
  --qui-FC-TAG: #aaa,
  --qui-BOR-ED: #383838,
  --qui-BOR-CCC: #2e2f30,
  --qui-BOR-EEE: #2e2f30,
  --qui-BOR-DDD: #ddd,
  --qui-BOR-FFF: #2e2f30,
  --qui-BOR-D5: #d5d5d5,
  --qui-BOR-E5: #3f4243,
  --qui-BOR-A3CAFF: #a3caff,
  --qui-BOR-D1E0FF: #d1e0ff,
  --qui-BOR-CCDD: #404040,
  --qui-JT-B5: #b5b5b5,
  --qui-LINK: #1e78e3,
  --qui-RED: #fa5151,
  --qui-MAIN: #1878f3,
  --qui-GREEN: #189a00,
  --qui-TAB: #1878f3,
  --qui-TAB-BAR: #1878f3,
);
