// 主题: 默认
/*
  bg: background;
  fc: font字体颜色;
  $jt: 箭头颜色
  bor: 边框颜色
*/
$light: (
  --qui-BG-1: #f9fafc,
  --qui-BG-2: #fff,
  --qui-BG-ED: #ededed,
  --qui-BG-HIGH-LIGHT: #1878f3,
  --qui-BG-BTN: #1878f3,
  --qui-BG-BTN-GRAY: #f9fafc,
  --qui-BG-BTN-GRAY-1: #f8f8f8,
  --qui-BG-IT: #f6f6f6,
  --qui-BG-00: #000,
  --qui-BG-FFF: #fff,
  --qui-BG-F7: #f7f7f7,
  --qui-BG-40: #fff,
  --qui-BG-A3CAFF: #a3caff,
  --qui-BG-D1E0FF: #d1e0ff,
  --qui-BG-F9F: #f9fafc,
  --qui-BG-777: #ededed,
  --qui-BG-FF: #ff2e2e,
  --qui-FC-333: #333,
  --qui-FC-777: #777,
  --qui-FC-AAA: #aaa,
  --qui-FC-CCC: #ccc,
  --qui-FC-DDD: #ddd,
  --qui-FC-B5: #b5b5b5,
  --qui-FC-B2: #b2b2b2,
  --qui-FC-FFF: #fff,
  --qui-FC-GRAY: #f9fafc,
  --qui-FC-C6: #c6c6c6,
  --qui-FC-7D7979: #7d7979,
  --qui-FC-34: #343434,
  --qui-FC-f7: #f7f7f7,
  --qui-FC-000: #000,
  --qui-FC-TAG: #777,
  --qui-BOR-ED: #ededed,
  --qui-BOR-CCC: #ccc,
  --qui-BOR-EEE: #eee,
  --qui-BOR-DDD: #ddd,
  --qui-BOR-FFF: #fff,
  --qui-BOR-D5: #d5d5d5,
  --qui-BOR-E5: #e5e5e5,
  --qui-BOR-A3CAFF: #a3caff,
  --qui-BOR-D1E0FF: #d1e0ff,
  --qui-BOR-CCDD: #cdf,
  --qui-JT-B5: #b5b5b5,
  --qui-LINK: #00479b,
  --qui-RED: #fa5151,
  --qui-MAIN: #1878f3,
  --qui-GREEN: #189a00,
  --qui-TAB: #1878f3,
  --qui-TAB-BAR: #1878f3,
);
